<%= form_for @use do |f| %>
  <% if @use.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@use.errors.count, "thing") %> went wrong:</h2>
    <ul>
      <% @use.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="fields">
    <p>
      <%= f.label :person_id, "Who are you?" %>
      <%= f.collection_select :person_id, @people, :id, :name %>

      <%= f.label :item_id, "What is it?" %>
      <%= f.select :item_id, options_for_select(@items.collect{ |item| [item.item_type.name, item.id] }) %>

      <%= f.label :amount, "How much?" %>
      <%= f.number_field :amount %>

      <% units_array = @units.map { |unit| [unit + "(s)", unit] } %>
      <%= f.select :unit, units_array %>


      <%= f.submit "Use this" %>
    </p>
  </div>

<% end %>
