<%= form_for @use do |f| %>
  <% if @use.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@use.errors.count, "thing") %> went wrong:</h2>
    <ul>
      <% @use.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div id="fields" class="large-8 medium-7">
    <%= f.label :person_id, "Who are you?" %>
    <%= f.collection_select :person_id, @people, :id, :name %>

    <%# with a dropdown, now replaced with a hidden field %>
    <%#= f.label :item_id, "What is it?" %>
    <%#= f.select :item_id, options_for_select(@items.collect{ |item| [item.item_type.name, item.id] }, params[:use][:item_id]) %>
    
    <%= f.hidden_field :item_id %>

    <%= f.label :amount, "How much are you using?" %>
    <div class="row">
      <div class="small-6 columns">
        <%= f.number_field :amount %>
      </div>

      <div class="small-6 columns">
        <% units_array = @units.map { |unit| [unit + "(s)", unit] } %>
        <%= f.select :unit, units_array %>
      </div>

    </div>

    <ul class="button-group">
      <li><%= f.submit "use this", :class => "button" %></li>
      <li><%= link_to "cancel", items_path, :class => "button" %></li>
    </ul>

  </div>

<% end %>
