<% item_page ||= false %>
<% person_page ||= false %>

<table>
  <thead>
    <tr>
      <% unless item_page %>
        <td>Item used</td>
      <% end %>
      <% unless person_page %>
        <td>By who?</td>
      <% end %>
      <td>How much?</td>
      <td>When?</td>
    </tr>
  </thead>
  <tbody>
    <% uses.each do |use| %>
    <tr>
      <% unless item_page %>
        <td><%= link_to use.item.item_type.name, item_path(use.item) %></td>
      <% end %>
      <% unless person_page %>
        <td><%= use.person.name %></td>
      <% end %>
      <td><%= use.amount %> <%= use.unit.pluralize(use.amount) %></td>
      <td><%= use.created_at.to_formatted_s(:short_date) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
