<% content_for :page_heading do %>
<h1>Resend confirmation instructions</h1>
<% end %>

<div id="fields" class="large-8 medium-7">
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
  
    <%= f.label :login %>
    <%= f.text_field :login, :autofocus => true %>
  
    <%= f.submit "Resend confirmation instructions", :class => "button" %>
  <% end %>
</div>

<%= render "devise/shared/links" %>
