<% content_for :page_heading do %>
<h1>Edit <%= resource_name.to_s.humanize %></h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <div id="fields" class="large-8 medium-7">
    <%= devise_error_messages! %>
  
    <%= f.label :group_name %>
    <%= f.text_field :group_name, :autofocus => true %>
  
    <%= f.label :email %>
    <%= f.email_field :email %>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  
    <%= f.label :password %> <h6><i>(leave blank if you don't want to change it)</i></h6>
    <%= f.password_field :password, :autocomplete => "off" %>
  
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  
    <%= f.label :current_password %> <h6><i>(we need your current password to confirm your changes)</i></h6>
    <%= f.password_field :current_password %>
  
    <%= f.submit "update", class: "button" %>
  </div>
<% end %>

<% if false %> <%# because we can't have block comments in erb %>
  <h3>Delete my account</h3>
  
  <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "button" %></p>
<% end %>
