<% content_for :page_heading do %>
<h1>Sign up</h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div id="fields" class="large-8 medium-7">
    <%= devise_error_messages! %>

    <%= f.label :group_name %>
    <%= f.text_field :group_name, :autofocus => true %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "sign up", class: "button" %>
    <p><%= link_to "go to sign in page", new_group_session_path %></p>
  </div>
<% end %>

