<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @person.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="fields" class="large-8 medium-7">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>

    <%= f.submit "add person", :class => "button" %>
    <%= link_to "cancel", people_path, :class => "button" %>
  </div>

<% end %>
