<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Amount purchased</td>
      <td>Amount used</td>
      <td>Share ratio</td>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <% purchased = person.amount_of_item_type_bought(item_type) %>
      <% used = person.amount_of_item_type_used(item_type) %>
      <% ratio = person.share_ratio(item_type) %>
    <tr>
      <td><%= link_to person.name, person_path(person) %></td>
      <td><%= purchased[0] %> <%= purchased[1].pluralize(purchased[0]) %></td>
      <td><%= used[0] %> <%= used[1].pluralize(used[0]) %></td>
      <td class=<%= share_ratio_class(ratio) %>><%= share_ratio_formatted(ratio) %></td>
    </tr>
    <% end %>
    <% if @people.length == 0 %>
      <tr><td colspan=1>No share ratios</td></tr>
    <% end %>
  </tbody>
</table>
