<% content_for :page_heading do %>
<h1><%= @item_type.name %></h1>
<% end %>


<h4>Sharing statistics</h4>

<%# buyer = @item_type.next_buyer(current_group) %>
<% buyers = @item_type.next_buyers(current_group) %>

<h5><%= buyers.map{ |b| link_to(b.name, person_path(b)) }.to_sentence(last_word_connector: ', or ', two_words_connector: ' or ').html_safe %> should buy this next</h5>

<%= render 'share_ratio_table', :item_type => @item_type, :people => @people %>


<div id="charts" class="row">
  <div class="small-12 medium-6 columns">
    <h4>Usage (all time)</h4>
    <div id="usage-pie" class="small-10 small-offset-1 medium-10 medium-offset-0">
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <h4>Purchases (all time)</h4>
    <div id="purchase-pie" class="small-10 small-offset-1 medium-10 medium-offset-0">
    </div>
  </div>
</div>



<h4>Purchase history</h4>
<%= render 'items/table', :items => @item_type.items, :item_type_page => true %>


<script>
  var usage_data = <%=j @item_type.usage_stats.to_json.html_safe %>
  var purchase_data = <%=j @item_type.purchase_stats.to_json.html_safe %>
</script>
