<% content_for :page_heading do %>
<h1>Resend unlock instructions</h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <div id="fields" class="large-8 medium-7">
    <%= devise_error_messages! %>
  
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  
    <%= f.submit "resend instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
