<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@item.errors.count, "thing") %> went wrong:</h2>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div id="fields" class="large-8 medium-7">
    <%= f.label :item_type_id, "What is it?" %>
    <%= f.collection_select :item_type_id, @item_types, :id, :name %>

    <%= f.label :person_id, "Who bought it?" %>
    <%= f.collection_select :person_id, @people, :id, :name %>

    <%= f.label :comment, "Comments (optional)" %>
    <%= f.text_field :comment %>

    <%= f.submit "add this", :class => "button" %>
    <%= link_to "cancel", items_path, :class => "button" %>
  </div>

<% end %>
