<% person_page ||= false %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Date added</td>
      <% unless person_page %>
      <td>Purchased by</td>
      <% end %>
      <td>Units</td>
      <td>Amount used</td>
      <td>Comments</td>
      <td colspan=2></td>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
    <tr>
      <td><%= link_to item.item_type.name, item_path(item) %></td>
      <td><%= item.created_at.to_formatted_s(:short_date) %></td>
      <% unless person_page %>
      <td><%= link_to item.person.name, person_path(item.person) %></td>
      <% end %>
      <td><%= item.item_type.measure_by %></td>
        <% amount_used = item.amount_used %>
      <td><%= amount_used[:amount] %> <%= amount_used[:unit].pluralize(amount_used[:amount]) %></td>
      <td><%= item.comment || "" %></td> <%# this leaves it blank if it's nil %>
        <% if item.finished %>
      <td colspan=2>finished on <%= item.finished_at.to_formatted_s(:short_date) %></td>
        <% else %>
      <td><%= link_to "use", new_use_path({:use => {:item_id => item.id}}) %></td>
      <td>
        <a href data-reveal-id="confirm-finish-<%= item.id %>">finish</a>
        <div id="confirm-finish-<%= item.id %>" class="reveal-modal medium" data-reveal>
          <h3>Finish this item?</a>
          <p>This will make the item unavailable for use.</p>
          <div class="row">
            <%= link_to "finish it", item_finish_path(item), method: :post, class: "button large-4 medium-5 columns" %>
            <a class="button large-5 large-offset-1 medium-6 columns" href>oops, don't</a>
          </div>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </td>
        <% end %>
    </tr>
    <% end %>
    <% if items.length == 0 %>
      <tr><td colspan=7>No items</td></tr>
    <% end %>
  </tbody>
</table>
