<% content_for :page_heading do %>
<h1><%= link_to @item.item_type.name, item_type_path(@item.item_type) %></h1>
<% end %>



<h5><em><%= @item.comment %></em></h5>

<p>Purchased on <strong><%= @item.created_at.to_date.to_formatted_s(:long_ordinal) %></strong> by <strong><%= link_to @item.person.name, person_path(@item.person) %></strong></p>

<% amount_used = @item.amount_used %>
<% if @item.finished %>
  <p>Finished on <strong><%= @item.finished_at.to_date.to_formatted_s(:long_ordinal) %></strong></p>
  <p><strong><%= amount_used[:amount] %> <%= amount_used[:unit].pluralize(amount_used[:amount]) %></strong> used</p>
<% else %>
  <p><strong><%= amount_used[:amount] %> <%= amount_used[:unit].pluralize(amount_used[:amount]) %></strong> used so far</p>
<% end %>



<div id="charts" class="row">
  <div class="small-12 medium-6 columns">
    <h4>Usage by person</h4>
    <div id="usage-pie" class="small-10 small-offset-1 medium-10 medium-offset-0">
    </div>
  </div>
</div>


<h4>Usage history</h4>

<%= render 'uses/table', :uses => @item.uses, :item_page => true %>


<script>
  var usage_data = <%=j @item.usage_stats.to_json.html_safe %>
</script>
