<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">divvyup</a></h1>
    </li>

    <li class="toggle-topbar menu-icon">
      <a href>menu</a>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "items", items_path %></li>
      <li><%= link_to "item stats", item_types_path %></li>
      <li><%= link_to "people", people_path %></li>
      <li><%= link_to "usage history", uses_path %></li>
      <% if group_signed_in? %>
        <li><%= link_to "edit account", edit_group_registration_path %></li>
        <li><%= link_to "sign out", destroy_group_session_path, method: :delete %></li>
      <% else %>
        <li><a href="<%= new_group_session_path %>">sign in</a></li>
      <% end %>
    </ul>
  </section>
</nav>
